<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>

    <%- include("../partials/cabecalho.ejs")%>
    <%-include("../partials/menu.ejs")%>

    <link rel="stylesheet" href="/css/biblioteca.css">
</head>
<body class="biblioteca">
    <div class="container">
    <% if (status == 1) { %>
        <div style="background-color: rgb(192, 190, 250);">Livro cadastrado</div>
        
    <%} %>
    <% if (status == 2) { %>
        <div style="background-color: rgb(191, 61, 72);">Livro removido</div>
        
    <%} %>
    <% if (status == 3) { %>
        <div style="background-color: rgb(240, 185, 85);">Livro atualizado</div>
        
    <%} %>
    <br>
    <h3>Livros </h3>
    <div>

        
        <table class="table table-striped">
            <th>ID</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Isbn</th>
            <th>Detalhes</th>
            <th>Deletar</th>
            <th>Atualizar</th>
        
    <% for (const livro of livros){ %>
        <tr>
            
        <td> 
            <%= livro.id %> 
        </td>
        <td>
            <%= livro.titulo %>
        </td>
        <td> 
            <%= livro.autor %> 
        </td>
        <td>
            <%= livro.isbn %>
        </td>
        <td>    
            <a href="/livros/<%= livro.id %>" class="btn btn-warning">Detalhes</a>
         </td>

        <td>
            
            <a href="/livros/deletar/<%= livro.id %>" class="btn btn-outline-danger"
                onclick="return confirm('Quer realmente remover?')">Remova></a>
        </td>

        <td>    
            <a href="/livros/atualizar/<%= livro.id %>" class="btn btn-success">Atualizar></a>
         </td>
        </tr>
    <%} %>
    </table>
    
    <a href="/">
        <div class="d-grid gap-2">
            <button class="btn btn-dark" type="button">Índice</button>
    </a>
        </div>
    
    </body>

<%- include("../partials/rodape.ejs")%>
</html>
